body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
}
h3{
    font-size: 30px;
}
.container {
    height: 100%;
    max-width: 50%;
    margin: 50px auto;
    background-color: #fff;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.form-group {
    margin-bottom: 20px;
}
label {
    text-align: left;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 20px;
}
select {
    padding: 15px;
    border-radius: 20px;
    text-align: left;
    display: block;
    font-weight: bold;
    margin-left: 20%;
    margin-top: -3%;
    font-size: 20px;
}
input {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
}
button {
    font-size: 20px;
    background-color: #000000;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color:#7defb0 ;
}
.error {
padding: 20px;
background-color: #f8d7da;
font-size: 20px;
border-radius: 5px;
color: #721c24;
margin-top: 20px;
}
.success {
padding: 20px;
background-color: #d4edda;
font-size: 20px;
border-radius: 5px;
color: #155724;
margin-top: 20px;
}
.back {
    margin-top: 20px;
    margin-bottom: 20px;
}
.back a {
    font-size: 20px;
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.back a:hover {
    background-color:#7defb0 ;
}
.edit { 
    text-align: center;
}
.input-group {
    display: flex;
    align-items: center;
}
.error_message{
    padding: 20px;
background-color: #f8d7da;
font-size: 20px;
border-radius: 5px;
color: #721c24;
margin-top: 20px;
}